/* .card {
    background: white;
}
.banner img {
    animation: skeleton-loading 1s linear infinite alternate;
    color: transparent;
}

.card_info {
    gap: 10px;
    display: flex;
    flex-direction: column;
}


.titel {
    animation: skeleton-loading 1s linear infinite alternate;
    color: transparent;
}

.review {
    animation: skeleton-loading 1s linear infinite alternate;
    color: transparent;
}

.duration {
    animation: skeleton-loading 1s linear infinite alternate;
    color: transparent;
}

.year {
    animation: skeleton-loading 1s linear infinite alternate;
    color: transparent;
} */

@keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }