/* :root from general.css */

/* logo & links */
#header {
	background-color: var(--second-color);
	height: var(--full-header-size);
}

#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height);
    position: relative;
	padding: 0px 25px;
	background: var(--first-color);
}

#logo, #logo2 {
	max-height: 65px; 
	object-fit:contain;
}

#logo2 {
	display: none;
}

/* links & searchbar */
.alignBars {
    display: flex;
    gap: 20px;
}

/* links */
.hover {
    text-decoration: none;
    color: var(--first-color);
	width: max-content;
	display: flex;
}

#content .links .hover:not(:last-child):after {
    border: 1px solid #e2e2e2;
    border-width: 1px 1px 0 0;
    content: "";
    height: 20px;
    left: 9px;
    position: relative;
    top: 30%;
}

.Full_collapsible_content {
	align-items: center;
	display: flex;
}

.Full_collapsible_content i {
    font-size: 35px;
	display: contents;
}

#content .hover:hover {
    color: var(--fourth-color);
}

a.Link_Icon_alignment {
    text-decoration: none;
    color: var(--sixth-color);
}

/* searchbar */
.full_search_bar {
    flex-direction: row;
    display: flex;
	align-items: center;
	flex-direction: row-reverse;
	width: 100%;
}

#search {
    border-radius: var(--search-field-border-radius);
	border: solid var(--fourth-color);
	flex-direction: row;
    display: flex;
    align-items: center;
	width: 500px;
}

#search:hover {
	border: 3px solid var(--fourth-color);
	border-radius: 40px;
}

#search:active {
	border: 3px solid var(--fourth-color);
}

#searchIcon1 {
	display: none;
}

#search-field {
    width: 89%;
    height: 45px;
    background: transparent;
    border: none;
    font-size: 20px;
    padding-left: 15px;
    font-family: sans-serif;
	color: var(--fourth-color);
}

#search-field:active,
#search-field:focus {
    outline: none; 
}

#search-field::placeholder {
	color: var(--fourth-color);
}

#IconNoClick {
    font-size: 25px;
}


@media (min-width: 1400px) {

	/* links */ 
	#content i {
		display: none;
	}

	#content .links {
		gap: 20px;
		display: flex;
		align-items: center;
	}
}

@media (max-width: 1050px) {
	/* logo */
	#logo {
		display: none;
	}
	
	#logo2 {
		display: flex;
	}
}

@media (max-width: 1400px) {
	/* links */
	#content .links {
		display: flex;
		position: absolute;
		flex-direction: column;
		left: 0;
		top: 103px;
		width: 100vw;
		z-index: 1;
		background: var(--second-color);
	}

	#content .links a.hover:not(:last-child):after {
		display: none;
	}

	#content .links .hover:before {
        border: 2px solid #e2e2e2;
        content: "";
        height: 40px;
        left: -5px;
        position: relative;
    }

	#content .hover {
		margin: 0px 20px;
		display: flex;
		align-items: center;
		width: 100%;
	}

	#content .Link_Icon_alignment {
		align-items: center;
		display: flex;
		justify-content: space-between;
		width: 95%;
		line-height: 50px;
    	padding: 10px;
		padding-right: 30px;
	}
}

@media (max-width: 700px) {
	/* searchbar */
	#searchIcon1 {
		display: contents !important;
		font-size: 35px;
	}

	#IconNoClick {
		display: none;
	}

	#search {
		position: absolute;
		top: 100px;
		left: 0;
		background: var(--second-color);
		width: 95%;
	}
}

@media (max-width: 430px) {
	/* logo */
	

	/* links */


	/* searchbar */
	
}