.slideshow_wraper {
  transition: translate 1000ms ease-in-out;
}

.watch_button {
  padding: 10px;
  width: fit-content;
  margin: 10px;
  border-radius: 10px;
  background: yellow;
  font-weight: bold;
  display: flex;
  color: black;
  justify-content: center;
}

.watch_button button {
  background: none;
  border: none;
  font-size: 16px;
}

.watch_button i {
  font-size: 26px;
}