/* :root from general.css */

/* logo & links */
#header {
	background-color: var(--second-color);
	height: var(--full-header-size);
}

#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height);
    position: relative;
	padding: 0px 25px;
	background: var(--first-color);
}

#logo, #logo2 {
	max-height: 65px; 
	object-fit:contain;
}

#logo2 {
	display: none;
}

.alignBars {
    display: flex;
    align-items: center;
    gap: 22px;

	justify-content: space-between;
    width: 83%;
}

.links a:visited, .links a {
	color: var(--sixth-color);
	text-decoration: none;
}

#content .links {
    display: flex;
    /* align-items: center; */
	z-index: 1;
}

#content .links a {
	padding: 10px;
    line-height: 50px;
	border-radius: 10px;
	font-family: fantasy;
}

#content .links a:not(:last-child)::after{
	content:""; 
	border:1px solid #e2e2e2;
	border-width: 1px 1px 0 0;
	position:relative; 
	left: 9px; 
	height:100%;
  }

::marker {
    display: none;
    color: transparent;
}


/* searchbar */
.full_search_bar {
    flex-direction: row;
    display: flex;
	align-items: center;
	flex-direction: row-reverse;
}

#search {
    border-radius: var(--search-field-border-radius);
	border: solid var(--sixth-color);
	flex-direction: row;
    display: flex;
    align-items: center;
}

#search:hover {
	border: 3px solid var(--fourth-color);
	border-radius: 40px;
}

#search:active {
	border: 3px solid white;
}

/* input searchbar etc. */
#search-field {
	border-radius: var(--search-field-border-radius);
	background-color: transparent;
	border: transparent;
	font-family: fantasy;
	width: calc(var(--padding-search-right) - 20px);
	height: var(--search-field-height);
	color: white;
	padding: 0 var(--padding-search-text);
	position: relative;
	display: block;
	z-index: 1;
}

#search-field:active,
#search-field:focus {
    outline: none; 
    border: none;  
    box-shadow: none; 
    background-color: transparent;
}

#search-field::placeholder {
	color: white;
}

#searchIcon {
    align-self: center; 
    right: 27px;
    position: absolute;
	font-size: 27px;
	display: flex;
}

#searchIcon1 {
	right: 21px;
    display: flex;
    position: absolute;
	display: none;
}

/* .search {
	display: flex;
    align-items: center;
} */

#IconNoClick {
	position: absolute;
    right: 21px;
	right: 50px;
}

i.bx.bx-align-left, i.bx.hiden.bx-align-middle {
	display: none;
}

@media  (max-width: 1586px) {

	.alignBars {
		width: min-content;
	}

	.full_search_bar {
		width: 88%;
        gap: 15px;
		
	}

	i.bx.bx-align-left, i.bx.hiden.bx-align-middle {
		display: contents;
		font-size: 35px;
	}

	#content .links {
		background: transparent;
		/* width: auto; */
    	flex-direction: column;	
		/* right: 100px; */
		position: relative;
	}

	#content .links a {
		display: none;
		right: 10px;
		position: relative;
		width: auto;
	}

	/* de '| link |'  */
	#content .links a:not(:last-child)::after{
		display: none;
	}

	/* Used in footer.css */
	#content .links a::before {
		content: "";
		border: 1px solid #e2e2e2;
		border-width: 1px 1px 0 0;
		position: relative;
		right: 9px;
		height: 100%;
	}

	/* a {
		width: 120px;
	} */

	summary {
		position: absolute;
	}
	
}

@media (max-width: 900px) {
	#logo {
		display: none;
	}

	#logo2 {
		display: block;
	}
}

@media (max-width: 700px) {
	#search-field {
		display: none;
		position: absolute;
		right: 0px;
		top: 89px;
	}

	#search {
		border: none !important;
	} 
	
	#search-field {
		width: 90%;
	}

	#searchIcon1 {
		display: contents;
		font-size: 35px;
	}

	#IconNoClick {
		display: none;
	}
}

