/* :root from general.css */

.footer {
    background: var(--first-color); 
    height: 300px;
    /* justify-content: center;
    flex-direction: column;
    display: flex; */
}

.footer summary {
    display: flex;
}

/* footer_links */
.links_title {
    font-size: 30px;
    color: var(--fourth-color);
}

.logo_links {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.footer .links {
    /* gap: 10px; */
    display: flex;
    flex-direction: column;
}

/* footer_logo  */
img.footer_Logo {
    height: calc(8vh - 17px);
}

/* align logo */
.footer .logo_links a {
    display: flex;
    flex-direction: column;
}

/* collab text */
.WBR_collab_text {
    display: flex;
    justify-content: end;
    gap: 5px;
    right: 15px;
    bottom: 35px;
    position: relative
}


#second_part, #fourth_part {
    color: var(--fourth-color);
}

.WBR_collab_text a {
    text-decoration: none;
}

.WBR_collab_text a::after {
    position: relative;
    height: 2px;
    content: "";
    
    background: var(--third-color);
    display: block; 
    width: 100%; 
    top: 5px;
    transition: all 0.3s ease-in-out
}

.WBR_collab_text a:hover::after {
    background: var(--fourth-color);
}

.WBR_collab_text a:hover::after {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.footer .bx.bxs-copyright {
    font-size: 15px;
}