/* general */
:root {
	--first-color: linear-gradient(51deg, rgba(46, 57, 63, 1) 0%, rgba(33, 39, 43, 1) 51%, rgba(29, 34, 41, 1) 100%);
	--second-color:#1d2229;
	--third-color: #505050;
	--fourth-color: #e6e6e6;
	--fifth-color: #141313;
	--sixth-color: #b3b3b3;
	--logo-width: min-content;
	--logo-height: min-content;
	--nav-height: 100px;
	--search-field-width: 500px;
	--search-field-height: 50px;
	--search-field-border-radius: 30px;
	
	--padding-search-text: 20px;
	--padding-search-right: calc(var(--search-field-width) - var(--padding-search-text));
	
	--card-height: 378px;
    --card-width: 250px;
	
	--font-color: #a7acb0;
	--first-shade-color: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(167, 172, 176, 0.5550595238095238) 0%);
}

body, html {
    background: var(--first-color);
	margin: 0px;
	font-family: "poppins", sans-serif;
    font-weight: bold;
	line-height: 1.2;
}

#shell {
	color: var(--font-color);
}

i {
	cursor: pointer;
}

.hover:hover {
    color: var(--fourth-color) !important;
}

/* placholder for input */
::placeholder { 
	color: var(--sixth-color) !important;
  }

::-ms-input-placeholder {
	color: var(--sixth-color) !important;
}

/* scrollbar style */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}


/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--fourth-color);
	border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--third-color);
}
::-webkit-scrollbar:vertical {
	background: transparent;
}

/* links */
summary .Link_Icon_alignment:after {
    position: relative;
    height: 2px;
    content: "";
    background: var(--third-color);
    display: block;
    width: 0%;
    top: 5px;
    transition: all 0.3s ease-in-out
}

summary .Link_Icon_alignment:hover::after {
    opacity: 1;
    background: var(--fourth-color);
	transition: all 0.3s ease-in-out;
	width: 100%;
}

/* blank pages */
#Empty {
    height: 68vh;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
    gap: 20px;
}

#Empty .\34 04 {
    font-size: 15vh;
}

.all_homepage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* skeleton loading animation */
@keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
}

.resetText .userName {
    color: var(--third-color);
}